<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    
    
    <link href="~/assets/css/semantic.min.css?23" rel="stylesheet" />
    <link href="~/assets/css/custom.css?23" rel="stylesheet" />
    <script src="~/assets/js/jquery.js?23"></script>
    <script src="~/assets/js/semantic.min.js?23"></script>

    <script type="text/javascript">
    		function blogspotReadCallback(argument) {
    			console.log('blogger loaded')
    			console.log(argument)
    			window.blogspot = argument;
    		}
    </script>
    <script type="text/javascript" src="http://moimtechview.blogspot.com/feeds/posts/default?alt=json-in-script&callback=blogspotReadCallback"></script>
</head>
<body>    
    <div id="main"></div>
    @RenderBody()
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
</body>
</html>
